<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="EPPlus.Extensions" version="1.0.0.0" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.3.1" targetFramework="net452" />
  <package id="NLog" version="4.3.9" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.9" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.9" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
</packages>